.contents-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.article-link {
  text-decoration: none;
}

.article-item {
  border-radius: 10px;
  box-shadow: 3px 5px 8px 0px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;

  @media screen and (min-width: 600px) {
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 20%);
    flex-direction: column;
    padding: 0px;
    margin: 20px;
  }

  .article-item__photo {
    margin: 10px 0 0 10px;
    width: 100px;

    @media screen and (min-width: 600px) {
      margin: 0;
      width: 250px;
    }

    .article-item__img {
      margin: 0;
      object-fit: cover;
      padding: 0;
      width: 100%;

      @media screen and (min-width: 600px) {
        border-radius: 20px 20px 0 0;
      }
    }

    .article-item__imgDiv {
      align-items: center;
      background-color: black;
      color: white;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;

      @media screen and (min-width: 600px) {
        border-radius: 20px 20px 0 0;
        height: 200px;
      }
    }
  }

  .article-item__box {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-bottom: 0;
    padding: 10px;

    .article-item__title {
      color: $dark-gray;
      font-size: $font-size-large;
      margin: 0;
      order: 0;
      padding: 0;
    }

    .article-item__text {
      color: $gray;
      font-size: $font-size-medium;
      line-height: 1.5;
      margin: 0;
      margin-bottom: 20px;
      order: 2;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .article-item__date {
      color: $dark-gray;
      font-size: $font-size-small;
      margin: 0;
      margin-bottom: 10px;
      order: 1;
    }
  }
}
