.header {
  color: $white;
  background-color: $blue;
}

.header__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

.header__title {
  display: inline-block;
  font-size: $font-size-xLarge;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  margin-left: 20px;

  .header__logo {
    text-decoration: none;
  }
}

.header-alert {
  color: $brown;
  background-color: $yellow;
  margin: 0;
}

.alert-message__area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert-message {
  display: inline-block;
  margin: 0 0 0 40px;
}

.alert-btn {
  display: inline-block;
  margin: 0 40px 0 0;
}

.navBtn {
  height: 20px;
  margin-right: 20px;
}

.navMenu {
  margin-left: 20px;
}

.navFilter {
  margin-left: 20px;
}
