.site-header {
  background: #f9f8f8;
  border-bottom: 1px solid #e5e5e5;
  left: 0;
  top: 0;
  width: 100%;
}

.site-header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

  &--start {
    padding: 8px;

    @media screen and (max-width: 600px) {
      padding: 2px 15px;
    }
  }

  &--end {
    padding: 8px;

    @media screen and (max-width: 600px) {
      padding: 2px 15px;
    }
  }
}

.site-header__title {
  align-items: center;
  background-color: burlywood;
  border-radius: 30px;
  display: flex;
  height: 61px;
  justify-content: center;
  margin: 0;
  width: 61px;

  @media screen and (max-width: 600px) {
    border-radius: 22px;
    height: 44px;
    width: 44px;
  }

  &--logo {
    font-size: 18px;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }

  &--link {
    color: white;
    text-decoration: none;
  }
}

// width 0px - 599pxまで表示
.site-header__sp-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 600px) {
    display: none; // SEO的に駄目らしいので、後でリファクタリング予定
  }

  &--menu {
    color: #282828;
    font-size: 8px;
    margin: 0;
    position: relative;
    top: -12px;
  }
}

// width 600pxから表示
.site-header__nav {
  @media screen and (max-width: 600px) {
    display: none;
  }

  &--ul {
    display: flex;
    list-style: none;
  }

  &--li {
    font-size: 13px;
    line-height: 22px;
    border: none;

    & a {
      border-left: 2px solid #9b9898;
      color: #282828;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
    }
  }
}

// 以前作成した内容
.header {
  color: $white;
  background-color: $blue;
}

.header__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

.header__title {
  display: inline-block;
  font-size: $font-size-xLarge;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  margin-left: 20px;

  .header__logo {
    text-decoration: none;
  }
}

.header-alert {
  color: $brown;
  background-color: $yellow;
  margin: 0;
}

.alert-message__area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert-message {
  display: inline-block;
  margin: 0 0 0 40px;
}

.alert-btn {
  display: inline-block;
  margin: 0 40px 0 0;
}

.navBtn {
  height: 20px;
  margin-right: 20px;
}

.navMenu {
  margin-left: 20px;
}

.navFilter {
  margin-left: 20px;
}
