.article-editor__container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 1200px;

  &--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
  }

  &--img {
    text-align: center;
  }
}

.article-editor__form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.article-editor__img {
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  width: 350px;

  &--no-sample {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    width: 350px;
  }

  &--selector {
    background-size: 100px, 75px;
    background-repeat: no-repeat;
    height: 75px;
    object-fit: cover;
    margin: 10px 0.5%;
    width: 100px;

    @media (min-width: $desktop-breakpoint) {
      width: 16%;
    }
  }
}

.article-editor__label {
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  width: 350px;
}

.article-editor__input {
  border: 2px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 350px;

  &:focus {
    border: 2px solid #ff9900;
    z-index: 10;
    outline: 0;
  }
}

.article-editor__button {
  &--save {
    background-color: green;
    margin: 10px;
  }

  &--remove {
    background-color: red;
    margin: 10px;
  }

  &--img {
    background-color: blue;
    margin: 10px;
  }
}
