$white: #fff;
$black: #000;
$dark-gray: #171717;
$gray: #808085;
$blue: rgb(92, 209, 238);
$yellow: rgb(248, 253, 171);
$brown: rgb(218, 134, 55);

// Font Size
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-xLarge: 4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoint
$desktop-breakpoint: 45rem;
